

<h1 class="text-center font-weight-light"> Welcome back! </h1>

<p class="text-center font-weight-light"><%= "Today is #{@date} " %> <br/>
<%= "Happy to see you again, #{@user.full_name}!" %> <br/>
<%= "What do you want to search today?" %></p> 

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="<%= "/users/#{@user.id}/edit" %>">Change my profile name</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/questions/new">Add a question</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/questions">View all questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Logout</a>
  </li>
</ul> <br/>


<h2 class="font-weight-light text-center">My answers:</h2><br/>

<% @answers.each do |answer| %>

<div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">My answer</h5>
        <p class="card-text"><%=answer.description%></p>
        <a href="/user/<%=@user.id%>/answers/<%=answer.id%>" class="btn btn-primary">Go to the question</a>
      </div>
  	</div>
</div>

<% end %>


