<%= @questions.description %>

 <form method ='post' action='/questions/<%= @questions.id %>/delete'>
 	<input type = "hidden" name = "_method" value ="delete"><br/>
   <button>Delete a question</button> 
</form>

<a href = "/questions/<%= "#{@questions.id}" %>/update">
   <button> Edit a question </button> </a> <br/> <br/>

<a href = "/questions/<%= "#{@questions.id}" %>/answers/new">
   <button>Answer a question</button> 
</a>

<!-- display answers -->
<% @answers.each do |answer| %>
<ul>
	<li> User number: <%= answer.user_id%> <br/> 
		Answer: <%=answer.description%> 
		<% if current_user && answer.user_id == current_user.id %>
			<a href = "/questions/<%= @questions.id %>/answers/<%= answer.id %>/delete"><button>Delete</button></a>

			<form method ='post' action='/questions/<%= @questions.id%> /answers/<%= answer.id %>/update'>
	 			<input type = "hidden" name = "_method" value ="patch">
	 			<input type=text placeholder="Edit an answer" name="updated_answer">
	 			<input type = "submit" value = "Edit Answer">
 			</form>
		<% end %>	
	</li> 
</ul>
<% end %>

